@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/Open_Sans/OpenSans-Light_0.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold_0.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular_0.ttf") format("truetype"); }
/*============MAIN COLOR=============*/

body{
font-family: Helvetica ,sans-serif ;

}

.socials{
  position: absolute;
  bottom: 0;
  left: 20%;
}

#obdev{
  text-decoration: none;
  font-size:8rem;
  text-align: center;
 margin: 150px;
  color: black;
  font-family: "Agency FB",sans-serif;
  font-weight: bolder;
}

@media (max-width: 499px) {
  #obdev{
    font-size: 4rem;
    margin: 0;
  }
}

/*============HEADER STYLE===========*/
.icon {
  background-color: #c1c1c1;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 4px;
  mask-repeat: no-repeat;
  mask-size: 90%;
  mask-position: center center;
  -webkit-mask-size: 90%;
  -webkit-mask-position: center center; }


/*=======HEADER STYLE======*/

.header-content{

  padding-top: 70px;

}

.title-header h1{
  font-size: 3.5em;
}

@media(max-width: 499px){
  .title-header h1{
    font-size: 3rem;
  }
}

.header1{
  margin-top: -60px;
  background-image:url('../media/img/bg4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#router{
  transition: ease-in-out 0.4s all;
  animation: push-up;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
}

#mainNav{
  transition: 0.4s all ease-in-out;
}

@keyframes push-up{
  0%{
    transform: translateY(10px);
  }
  5%{
    transform: translateY(13px);
  }
  10%{
    transform: translateY(16px);
  }
  15%{
    transform: translateY(19px);
  }
  20%{
    transform: translateY(22px);
  }
  25%{
    transform: translateY(25px);
  }
  30%{
    transform: translateY(28px);
  }
  35%{
    transform: translateY(31px);
  }
  40%{
    transform: translateY(34px);
  }
  45%{
    transform: translateY(37px);
  }
  50%{
    transform: translateY(40px);
  }
  55%{
    transform: translateY(37px);
  }
  60%{
    transform: translateY(34px);
  }
  65%{
    transform: translateY(31px);
  }
  70%{
    transform: translateY(28px);
  }
  75%{
    transform: translateY(25px);
  }
  80%{
    transform: translateY(22px);
  }
  85%{
    transform: translateY(19px);
  }
  90%{
    transform: translateY(16px);
  }
  95%{
    transform: translateY(13px);
  }
  100%{
    transform: translateY(10px);
  }
}

@keyframes push-up-option{
  0%{
    transform: translateY(-3px);
  }
  5%{
    transform: translateY(-5px);
  }
  10%{
    transform: translateY(-7px);
  }
  15%{
    transform: translateY(-9px);
  }
  20%{
    transform: translateY(-11px);
  }
  25%{
    transform: translateY(-13px);
  }
  30%{
    transform: translateY(-15px);
  }
  35%{
    transform: translateY(-17px);
  }
  40%{
    transform: translateY(-19px);
  }
  45%{
    transform: translateY(-21px);
  }
  50%{
    transform: translateY(-23px);
  }
  55%{
    transform: translateY(-21px);
  }
  60%{
    transform: translateY(-19px);
  }
  65%{
    transform: translateY(-17px);
  }
  70%{
    transform: translateY(-15px);
  }
  75%{
    transform: translateY(-13px);
  }
  80%{
    transform: translateY(-11px);
  }
  85%{
    transform: translateY(-9px);
  }
  90%{
    transform: translateY(-7px);
  }
  95%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(-3px);
  }
}


.title-header{
}

svg{
  margin-left: 30px;
}

#navSocial{
    position: absolute;
    right: 10px;
}


/*md-navbar Responsive Menu*/

#md-navbar{
  position: fixed;
  width: 0;
  z-index: -1;
  top:0;
  right: 0;
  height: 100vh;
  background-color: #007bffdb;
  transition: all ease-in-out 0.4s;
}

.router-nav-ul{
  list-style: none;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.router-nav-li{
  font-size: 20px;
  font-weight: bold;
  line-height: 45px;
}

.router-nav-link::after{
  content:"";
  position: absolute;
  background-color:red;
  width: 0%;
  transition: 0.4s ease-in-out all;
  right: 0;
  height: 3px;
  top: 50%;
  
}

.router-nav-li:hover .router-nav-link{
  white-space: 4px;
}


.router-nav-link{
  text-decoration: none!important;
  font-size: 20px;
  font-weight: bold;
  line-height: 45px; 
  transition: ease-in-out all 0.4s;
  color: white;
}

.router-nav-li:hover .router-nav-link{
  color: #c1c1c1;
  white-space: 4px;
  letter-spacing: 4px;
}

#navbarClose{
  position: absolute;
  right: 30px;
  top:0px;
  color:white;
}

.router-nav-social-ul{
  width: 100%;
  list-style: none;
  color:white;
}

.router-nav-social-li{
  font-size: 20px;
  width: 33%;
}

#md-navbar .navbar-brand{

  display:flex;
  justify-content:center;

}

/**/

.option-descrp::after{
  content: "";
  transition:0.4s ease-in-out all;
  position: absolute;
  bottom: 0px;
  right: 16%;
  width: 0;
  height: 3px;
  background-color: #007bff;
}

.option:hover .svg{
  transition: ease-in-out 0.4s all;
  animation: push-up-option;
  animation-duration: 2.0s;
  animation-iteration-count: infinite;
}

.option:hover .option-descrp::after{
  content: "";
  transition:0.4s ease-in-out all;
  position: absolute;
  bottom: 0px;
  right: 16%;
  width: 50%;
  height: 3px;
  background-color: blue;
}

/*Company description section*/


.company-description{ 

}
@media(max-width: 499px){

  .company-description{
    margin-top: 90px;
  }

}

/**/